<p id="notice"><%= notice %></p>

<h1>Variations</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Times Used</th>
      <th>Current Products</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @variations.each do |variation| %>
      <tr>
        <td><%= variation.id %></td>
        <td><%= variation.name %></td>
        <td><%= variation.product_variations.count %></td>
        <td>
          <ul>
            <% variation.product_variations.each do |var| %>
              <li><%= var.product.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% variation.options.each do |opt| %>
              <li><%= opt.name %>: <%= opt.value %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', variation %></td>
        <td><%= link_to 'Edit', edit_variation_path(variation) %></td>
        <td><%= link_to 'Destroy', variation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variation', new_variation_path %>
