<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variation.name %>
</p>

<p>
  <strong>Times Used:</strong>
  <%= @variation.product_variations.count %>
</p>

<p>
  <strong>Current Products:</strong>
  <ul>
    <% @variation.product_variations.each do |var| %>
      <li><%= var.product.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Options:</strong>
  <ul>
    <% @variation.options.each do |opt| %>
      <li><%= opt.name %>: <%= opt.value %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_variation_path(@variation) %> |
<%= link_to 'Back', variations_path %>
